In [2]:
"""Write a Python program to find those numbers which are divisible by 7
and multiple of 5, between 1500 and 2700 (both included)."""

'Write a Python program to find those numbers which are divisible by 7\nand multiple of 5, between 1500 and 2700 (both included).'

In [3]:
for i in range (1500,2701):
    if i%7==0 and i%5==0:
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [4]:
"""2. Write a Python program to convert temperatures to and from celsius,
fahrenheit.
[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in
fahrenheit ]
"""

'2. Write a Python program to convert temperatures to and from celsius,\nfahrenheit.\n[ Formula : c/5 = f-32/9 [ where c = temperature in celsius and f = temperature in\nfahrenheit ]\n'

In [7]:
f=int(input("Enter temperature in fahrenheit: "))
c= 5*((f-32)/9)
print("temperature in celsius: ", c)
c=int(input("Enter temperature in celsius: "))
f= ((9/5)*c)+32
print("temperature in fahrenheit: ", f)

Enter temperature in fahrenheit: 34
temperature in celsius:  1.1111111111111112
Enter temperature in celsius: 50
temperature in fahrenheit:  122.0

In [ ]:
"""Write a Python program to construct the following pattern, using a
nested for loop.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
"""

In [26]:
for i in range (5):
    for j in range(i+1):
        print("* ",end='') 
    print()
for i in range (4,0,-1):
    for j in range(i):
        print("* ",end='') 
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [27]:
"""Write a Python program that accepts a word from the user and reverse
it.
"""

'Write a Python program that accepts a word from the user and reverse\nit.\n'

In [29]:
word=input("Enter a word: ")
print(word[::-1])

Enter a word: hello
olleh

In [30]:
"""Write a Python function to find the Max of three numbers.
"""

'Write a Python function to find the Max of three numbers.\n'

In [31]:
num1=int(input("Enter num1: "))
num2=int(input("Enter num2: "))
num3=int(input("Enter num3: "))
if num1>num2 and num1>num3:
    print("The greatest number is: ",num1)
elif num2>num1 and num2>num3:
    print("The greatest number is: ",num2)
else:
    print("The greatest number is: ",num3)

Enter num1: 1
Enter num2: 2
Enter num3: 3
The greatest number is:  3

In [32]:
"""Write a Python function to sum all the numbers in a list"""

'Write a Python function to sum all the numbers in a list'

In [ ]:
def sum_f(list_e):
    sum=0
    for i in list_e:
        sum=sum+i
    return sum


num=int(input("Enter num: "))
list_e=[]
for i in range(num):
    element=int(input("Enter element to insert it in a list: "))
    list_e.append(element)
print("list: ", list_e)
print("sum: ", sum_f(list_e))

In [35]:
"""Write a Python program that prints all the numbers from 0 to 6 except 3
and 6.
Note : Use 'continue' statement."""

"Write a Python program that prints all the numbers from 0 to 6 except 3\nand 6.\nNote : Use 'continue' statement."

In [ ]:
for i in range (7):
    if i==3 or i==6:
        continue
    print(i)

In [ ]:
"""Write a Python function to calculate the factorial of a number (a nonnegative integer). 
The function accepts the number as an argument."""

In [41]:
def factorial(num):
    fact=1
    for i in range (1,num+1):
        fact=fact*i
    return fact
        
num=int(input("Enter num: "))
print("fact: ", factorial(num))

Enter num: 5
fact:  120

In [ ]:
"""Write a Python function that takes a list and returns a new list with
unique elements of the first list.
"""

In [47]:
def unique(list_e):
    group=set(list_e)
    new_list=list(group)
    return new_list

num=int(input("Enter num: "))
list_e=[]
for i in range(num):
    element=int(input("Enter element to insert it in a list: "))
    list_e.append(element)
print("list: ", list_e)
print("new_list_unique ", unique(list_e))

Enter num: 5
Enter element to insert it in a list: 1
Enter element to insert it in a list: 1
Enter element to insert it in a list: 2
Enter element to insert it in a list: 2
Enter element to insert it in a list: 5
list:  [1, 1, 2, 2, 5]
new_list_unique  [1, 2, 5]

In [ ]:
"""Write a Python program to create a lambda function that adds 15 to a
given number passed in as an argument, also create a lambda function
that multiplies argument x with argument y and print the result. Bonus"""

In [51]:
num=int(input("Enter num: "))
l=lambda number: number+15
print(l(num))
x=int(input("Enter x: "))
y=int(input("Enter y: "))
ll=lambda x,y: x*y
print(ll(x,y))

Enter num: 5
20
Enter x: 3
Enter y: 4
12